<div class="parse-form_wrapper">
    <div class="modal-header">
        <h1>Распознанные данные</h1>
    </div>
    <div class="modal-body">
        <form id="form-parse-save" method="post">
            {% csrf_token %}
            <table class="parse-form">
                {{ form_device_type }}
                {{ form_device }}
                {{ form_org_code }}
                {{ form_decimal_num }}
            </table>
            <div class="parse-submit_wrapper">
                <input id="parse-reset"
                       type="submit"
                       class="parse-btn"
                       value="ОТМЕНИТЬ">
                <input type="submit"
                       class="default parse-btn"
                       value="СОХРАНИТЬ">
            </div>
        </form>
    </div>
    {% if redirect_url %}
        {{ redirect_url|json_script:'redirect_url' }}
    {% endif %}
</div>
