*.pyc
__pycache
venv
.env.docker
.env.docker.db
.env.docker.dev
.env.prod
.env.full
.env.full.db
backend/.env
db.sqlite3
.idea
backend/debug.log
backend/var/log
backend/staticfiles
backend/.coverage
backend/.pytest_cache